@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPageList.cshtml";
}

@section head{
    <link href="http://r.xieqj.cn/css/blog/detail.css" rel="stylesheet" />
}

<div class="demo">

    <h1>ViewData ["title"]</h1>
    <span>发布时间:ViewData ["CreateTime"] </span>
    <div class="textContent">
        ViewData ["content"]
         </div>
</div>


@section jsPackage{

}


    