
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hsieh Ching Jing的技术博客</title>
   <link href="http://r.xieqj.cn/blog/@HomeController.mobile()blog.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapDiv">
        <div class="wrapLogo"><span>Hsieh Ching Jing</span>的技术博客</div>
        <div class="leftMenu">
            <ul>
                 <li><a href="http://blog.xieqj.cn/Home/Index/1" class="tc">操作手册</a></li>
                <li><a href="http://blog.xieqj.cn/Home/Index/2" class="tc">日积月累</a></li>                
                <li><a href="http://blog.xieqj.cn/Home/Index/3" class="tc">凝聚系列</a></li>
                <li><a href="http://blog.xieqj.cn/Home/Index/4" class="tc">我的项目</a></li>
                <li><a href="http://blog.xieqj.cn/Home/Index/5" class="tc">他山石</a></li>
                <li><a href="http://hi.xieqj.cn">我</a></li>
            </ul>
        </div>

        <div class="pageContent">
            <h1>@ViewData["title"]</h1>
           @ViewData["content"] </div>


    </div>

</body>
</html>
    