<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="http://r.xieqj.cn/blog/blog.css" rel="stylesheet" />
</head>
<body>
  
    <div class="wrapDiv">
        <div class="wrapLogo"><span>Hsieh Ching Jing</span>的技术博客</div>
        <div class="leftMenu">
            <ul>
                <li><a href="###">操作手册</a></li>
                <li><a href="###">日积月累</a></li>                
                <li><a href="###">凝聚系列</a></li>
                <li><a href="###">我的项目</a></li>
                <li><a href="###">他山石</a></li>
                <li><a href="###">我</a></li>
            </ul>
        </div>
        <div class="rightList">          
            <div class="rightListdiv">
                <h1><a href="Detail.html" class="rightListdiva" target="_blank">标题标题标题标题标题标题标题标题标</a></h1>
                <div class="wrapImg">
                    <img src="../Hi/haoqihao.jpg" class="listimg" />
                </div>
                &nbsp&nbsp&nbsp文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内字内容文字内容字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字......【<a href="###" class="more" target="_blank">更多</a>】
            </div>   
            <div class="rightListdiv">
                <h1><a href="Detail.html" class="rightListdiva" target="_blank">标题标题标题标题标题标题标题标题标</a></h1>               
                &nbsp&nbsp&nbsp文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内字内容文字内容字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字......【<a href="###" class="more" target="_blank">更多</a>】
            </div>    
            <div class="rightListdiv">
                <h1><a href="Detail.html" class="rightListdiva" target="_blank">标题标题标题标题标题标题标题标题标</a></h1>
                <div class="wrapImg">
                    <img src="../Hi/haoqihao.jpg" class="listimg" />
                </div>
                &nbsp&nbsp&nbsp文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内字内容文字内容字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字......【<a href="###" class="more" target="_blank">更多</a>】
            </div>
            <div class="rightListdiv">
                <h1><a href="Detail.html" class="rightListdiva" target="_blank">标题标题标题标题标题标题标题标题标</a></h1>
                &nbsp&nbsp&nbsp文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字文字内容文字内容文字内字内容文字内容文字内容文字内容文字内容文字内容文字内字内容文字内容字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内字......【<a href="###" class="more" target="_blank">更多</a>】
            </div>                   
        </div>        
    </div>
    
    <script src="http://r.xieqj.cn/js/c/jquery-1.8.2.min.js"></script>
    <script src="http://r.xieqj.cn/blog/blog.js"></script>
</body>
</html>
