<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="http://r.xieqj.cn/blog/blog.css" rel="stylesheet" />
</head>
<body>
  
    <div class="wrapDiv">
        <div class="wrapLogo"><span>Hsieh Ching Jing</span>的技术博客</div>
        <div class="leftMenu">
            <ul>
                <li><a href="###" class="tc">操作手册</a></li>
                <li><a href="###" class="tc">日积月累</a></li>                
                <li><a href="###" class="tc">凝聚系列</a></li>
                <li><a href="###" class="tc">我的项目</a></li>
                <li><a href="###" class="tc">他山石</a></li>
                <li><a href="http://hi.xieqj.cn">我</a></li>
            </ul>
        </div>
        <div id="infolist" class="rightList"> 

        </div>
         <div class="rightList"> 
         	<a class="bigmore">更多</a>        
        </div>

    </div>

    <script>
			window.pageData={
					channelId:@ViewData["id"],
					infoUrl:"Home/InfoPager",
					detailUrl:"Home/Detail?id="
			};
    </script>
    <script src="http://r.xieqj.cn/js/c/jquery-1.8.2.min.js"></script>
    <script src="http://r.xieqj.cn/blog/blog.js"></script>
</body>
</html>
