<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="webdata" connectionString="Data Source=192.168.87.64;Initial Catalog=websites;Persist Security Info=True;User ID=monouser;password=123456"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
